body{
  margin:0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
  background-color: green;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 5px;
}

.main{
  display: flex;
  justify-content:baseline;
  width: 90vw;
  height:90vh;

}

.main ::selection{
  background-color:green;
  color:white;
}
.left-side{
  padding: 80px;
  display: flex;
  flex-direction: column;
  background-color: red;
  margin:0 10px 0 400px;
  height: 68vh;
}

.flex-element{
  margin:10px;
  width: 150px;
  
}

.flex-element a{
  color:white;
}

.text{
  width: 35vw;
  height: 40vh;
  padding: 5px;
  font-size: 14px;
  text-align:justify;
}


footer{
  background-color: black;
  color:white;
  text-align: center;
  font-size: 18px;
  padding:5px;
}
